@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: #1F2937 !important;
}

.css-18lolh3-MuiDataGrid-root {
    border: none !important;
}

.css-204u17-MuiDataGrid-main > div {
    height: 100% !important;
}